#container {
    background-color: #eee;
    margin: auto;
    width: 80%;
    justify-content: center;
}

#main-header {
    background-color: #fff;
}

body {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #000;
    border-bottom: #111 0.125em solid;
}

a:hover {
    border-bottom: #111 0.17em solid;
}

#brand-name {
    background-color: #fff;
    color:#222;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 30px;
    word-spacing: 0.6rem;
}

#article {
    background-color: #fff;
    color: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:auto;
    width: 85%;
}

#article-header {
    border-left: 5px solid #444;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    color: #444;
}

#article-title {
    font-size: 40px;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#article-text-container {
    box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.25);
    background-color:#fff;
    padding: 50px;
    margin: auto;
    width: 75%;
}

#article-sub-title {
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#article-by-line {
    padding: 10px;
    color:#888;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article-text {
    padding: 40px;
    font-size: 23.8px;
    color:#444;
    line-height: 1.5;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   
}


.image-container {
    justify-content: center;
    margin: 20px;
}

.image-footer {
    margin: auto;
    width: 55%;
}

.image-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

#portrait {
    display: block;
    width: 500px;
    margin:auto;
    width:55%;
}



#bib-title {
    margin: 50px;
    padding: 50px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 40px;
}

#bib-text {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 100px;
}
